@media (max-width: 768px) {
	#game {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	.wrap,
	.game-buttons {
		flex: 1 0 50%;
	}
	.wrap {
		text-align: left;
		flex-direction: column;
	}
}
@media (max-width: 576px) {
	.wrap,
	.game-buttons {
		flex: 1 0 100%;
	}
}

@media (max-width: 420px) {
	.game-stat__item {
		font-size: 0.85rem;
	}
	.game-stat__item:nth-child(2) {
		top: 26px;
	}
	.game-stat__item:nth-child(3) {
		top: 52px;
	}
	.game-stat__item:nth-child(4) {
		top: 78px;
	}
}
