.init-timer {
  position: fixed;
  right: 0;
  top: 0;

  padding: 6px;
  height: 150px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid gray;
  background-color: gray;
  text-align: center;
  opacity: 1;
}

/* :is(#init-timer) :where(#timer, #startBtn, #pauseBtn, #resetBtn) {
  color: red;
} */

#init-drag {
  position: absolute;
  left: 5px;
  top: 5px;

  width: 50px;
  height: 50px;
  background-color: green;

  cursor: pointer;
  touch-action: none;
}

.init-timer__time {
  font-size: 48px;
}

.init-timer__wrapper * {
  font-size: 24px;
}

.init-timer__btn {
  border: none;
  padding: 6px 12px;
}
