@import 'vars';
@import 'reset';
// @import "fonts";
@import 'global';
@import 'blocks';

@import 'header';

.hints {
  padding: 40px 0;
  &__title {
    margin-bottom: 30px;
    text-align: center;
    span {
      display: inline-block;
      margin-left: 6px;
      padding: 2px;
      width: 30px;
      height: 30px;

      font-size: 14px;
      line-height: 30px;
      vertical-align: middle;

      overflow: hidden;
      border-radius: 6px;
      color: #fff;
      background-color: var(--accent);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 20px;
  }

  &__item {
  }
}

.hints-item {
  position: relative;
  max-height: 600px;
  overflow: auto;
  border: 1px solid black;
  &::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
  &__title {
    position: sticky;
    top: 0;
    background-color: #929292;
    padding: 10px;

    font-size: 22px;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    border-bottom: 1px solid currentColor;

    user-select: none;

    cursor: pointer;
    span {
      display: inline-block;
      margin-left: 6px;
      padding: 2px;
      width: 24px;
      height: 24px;

      font-size: 14px;
      line-height: 24px;
      vertical-align: middle;

      overflow: hidden;
      border-radius: 6px;
      color: #fff;
      background-color: var(--primary);
    }
  }

  &__content {
  }
}
.hints-content {
  height: 0;
  overflow: hidden;

  &__item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    padding: 20px 0;
    font-size: 22px;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #000;

    background-color: #535353;
  }

  &__value {
    padding: 12px 6px;
    border-top: 1px solid currentColor;
    &:last-child {
      border-bottom: 1px solid currentColor;
    }
  }

  &__value-name {
    color: #fff;
  }

  &__value-desc {
    text-wrap: balance;
  }
}

@media (max-width: 992px) {
  .hints {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .hints {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}

@import 'footer';
