.footer {
  position: relative;
  z-index: 200;

  padding: 16px 0;
  background-color: gray;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__content {
    flex: 1 0 0;
  }
  &__link {
    flex: 0 0 auto;
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__date {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .footer {
    &__inner {
      flex-direction: column;
      gap: 8px;
    }
    &__link {
      order: -1;
    }
  }
}
