html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  border: none;
}

*::-webkit-input-placeholder {
  color: inherit;
}

*::-moz-placeholder {
  color: inherit;
}

*:-ms-input-placeholder {
  color: inherit;
}

*::-ms-input-placeholder {
  color: inherit;
}

*::placeholder {
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

aside,
nav,
footer,
header,
section,
main,
legend,
img {
  display: block;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button,
input[type=submit] {
  display: inline-block;
  background-color: transparent;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active,
textarea:focus,
textarea:active {
  outline: 2px solid black;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

label {
  display: inline-block;
  cursor: pointer;
}

[data-list-reset] {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.list-reset,
ol.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.no-resize {
  resize: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: darkblue;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: #000;
}

.header {
  background-color: rgba(3, 3, 99, 0.418);
}
.header__inner {
  padding: 20px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search__input {
  width: 300px;
  padding: 10px;
  border: 2px solid green;
  border-radius: 5px;
}
.search__btn {
  display: block;
  padding: 10px;
  background-color: #10be44;
  border: 1px solid black;
  border-radius: 5px;
}

* {
  max-width: 100%;
  overflow-wrap: break-word;
}

.content {
  min-height: 300px;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid red;
}