@import 'vars';
@import 'reset';
@import 'global';
@import 'animation';

@import 'blocks/header';

@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/advantages';
@import 'blocks/consultation';

@import 'blocks/form';
@import 'blocks/slider';

@import 'blocks/footer';

@import 'blocks/modal';

.page-up {
  position: fixed;
  bottom: 50px;
  right: 50px;

  display: none;
  svg {
    fill: var(--accent);
  }
}
