.testing__inner {
  padding: 40px;
  border: 1px solid red;
  min-height: 500px;
}
.testing__span {
  display: block;
}
.testing__input {
  display: block;
  padding: 6px 12px;
  width: 100%;

  border: 2px solid blue;
}
.testing__items {
  padding-left: 40px;
  margin: 16px 0;

  list-style: decimal;
}
.testing__title {
  margin-bottom: 24px;
}
.testing__start {
  display: block;
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid gray;
  background-color: aliceblue;
}
.testing__btn {
  padding: 12px 24px;

  text-transform: uppercase;
  font-weight: 700;

  border: 2px solid gray;
  background-color: pink;
}
/* ! Проверка */
.empty {
  background-color: blue;
}
.mistake {
  background-color: red;
}
.correctly {
  background-color: green;
}
