/* @ start reset */
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
	border: none;
}
*::placeholder {
	color: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd,
ol,
ul,
li {
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style: none;
}
aside,
nav,
footer,
header,
section,
main,
legend {
	display: block;
}
img {
	display: inline-block;
	vertical-align: top;
}
img,
svg {
	max-width: 100%;
	max-height: 100%;
}
address {
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}
input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
	background-color: transparent;
}
button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	cursor: pointer;
}
a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
a {
	display: inline-block;
	font: inherit;
	color: inherit;
}
label {
	display: inline-block;
	cursor: pointer;
}
/* @end reset*/

/* @start var */

:root {
	--root-text: 16px;

	--gap: 0px;
	--opacity: 0.75;
}
:root,
[data-theme="light"] {
	--accent: #ffa500;
	--dark: #000;
	--light: #fff;
}

[data-theme="dark"] {
}

/* @end var */

/* @ start global */
html {
	font-size: var(--root-text);
}
html,
body {
	height: 100%;
}

body {
	min-width: 320px;

	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
	color: #000;
	background-color: rgb(43, 43, 43);

	overflow-x: hidden;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

button,
a {
	transition: all 0.25s linear;
	&:hover {
		opacity: 0.75;
	}
}

.title {
	font-size: 2rem;
}
.logo {
	width: auto;
	height: auto;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}
input:required:valid,
textarea:required:valid {
	border-color: green;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible,
a:focus-visible {
	outline: 1px solid gray;
}

input:active,
button:active,
textarea:active,
a:active {
	outline: none;
}
textarea {
	resize: none;
}

::placeholder {
	opacity: var(--opacity);
}
::selection {
	background-color: var(--accent);
	color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 100%;
		padding: 0 15px;
	}
}
@media (max-width: 360px) {
	.container {
		padding: 0 10px;
	}
}
/* @end global */

.header {
	padding: 20px 0;
	background-color: #000;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.header__list {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;

	color: #fff;
}
.header__item {
	transition: color 0.25s linear;
	cursor: pointer;
	&:hover {
		color: var(--accent);
	}
}

.header__search {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 0px;
}
.header__search-input {
	padding: 6px;

	background-color: #fff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.header__search-btn {
	background-color: var(--accent);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.content {
	padding: 20px 0;
}
.content__inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	gap: 20px;
}
.content-item__text[data-type="en"] {
	color: rgb(255, 255, 255);
	font-weight: 700;
}
.content-item__text[data-type="tr"] {
	color: rgb(170, 170, 170);
}
.content-item__text[data-type="ru"] {
	color: #ffe602;
}
.content-item__text[data-type="pos"] {
	color: #06ecd9;
}

.content-item__text[data-type="en_example"] {
	color: #00bd29;
}
.content-item__text[data-type="ru_example"] {
	color: #0377fc;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;

	height: 5px;
	width: 0%;

	background-color: #ff1302;
	opacity: 0.75;
}

.buttons-wrapper {
	position: fixed;
	z-index: 100;
	right: 20px;
	top: 50%;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 20px;

	transform: translateY(-50%);
}
.buttons-wrapper--active {
	display: flex;
}
.buttons-wrapper__link {
	padding: 6px 12px;

	background-color: var(--accent);
	opacity: 0.25;
	text-align: center;
}

.footer {
	padding: 20px;
	background-color: #000;
}
.footer__inner {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
}

@media (max-width: 768px) {
	.header__inner {
		flex-direction: column;
		gap: 12px;
	}
	.header__search {
		order: -1;
	}
}
