html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  border: none;
}

*::-webkit-input-placeholder {
  color: inherit;
}

*::-moz-placeholder {
  color: inherit;
}

*:-ms-input-placeholder {
  color: inherit;
}

*::-ms-input-placeholder {
  color: inherit;
}

*::placeholder {
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

aside,
nav,
footer,
header,
section,
main,
legend,
img {
  display: block;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button,
input[type=submit] {
  display: inline-block;
  background-color: transparent;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active,
textarea:focus,
textarea:active {
  outline: 2px solid black;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

label {
  display: inline-block;
  cursor: pointer;
}

[data-list-reset] {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.list-reset,
ol.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.no-resize {
  resize: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 0;
}

* {
  max-width: 100%;
  overflow-wrap: break-word;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  display: none;
}
.header__inner {
  padding: 10px;
  text-align: center;
  font-size: clamp(20px, 5vw, 40px);
  background-color: gray;
}

.index__link {
  display: block;
  padding: 6px;
  margin-bottom: 12px;
  border: 1px solid black;
  text-align: center;
  font-size: clamp(16px, 5vw, 48px);
  text-decoration: none;
  color: blue;
}
.index__link:last-child {
  margin-bottom: 0;
}

#test {
  padding: 10px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: rgb(0, 0, 0);
  font-size: clamp(20px, 5vw, 28px);
  color: #fff;
  cursor: pointer;
  border: none;
}

#table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

td,
th {
  padding: 4px;
  border: 1px solid black;
  font-weight: 700;
  font-size: clamp(10px, 3vw, 24px);
}

th:hover {
  background-color: green;
  cursor: pointer;
}

.footer__inner {
  padding: 10px;
  font-size: clamp(20px, 5vw, 40px);
  text-align: center;
  background-color: gray;
}