* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: gray;
}

.clock {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/clock.png");
  background-size: cover;
  background-position: center;
  border: 4px solid darkgray;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock::before {
  content: "";
  position: absolute;
  z-index: 1000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.hour {
  position: absolute;
}
.hour .hours {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.hour .hours::before {
  content: "";
  position: absolute;
  z-index: 200;
  width: 8px;
  height: 80px;
  border-radius: 6px 6px 0 0;
  background-color: pink;
}

.minute {
  position: absolute;
}
.minute .minutes {
  position: relative;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.minute .minutes::before {
  content: "";
  position: absolute;
  z-index: 300;
  width: 4px;
  height: 90px;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
}

.second {
  position: absolute;
}
.second .seconds {
  position: relative;
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.second .seconds::before {
  content: "";
  position: absolute;
  z-index: 400;
  width: 2px;
  height: 150px;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
}