.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

::selection {
  background-color: var(--accent);
  color: #fff;
}
::placeholder {
  opacity: var(--opacity);
  color: #666;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid,
textarea:required:valid {
  border-color: green;
}

.accent {
  color: var(--accent);
  font-weight: bold;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 50px;
}

hr {
  margin: 20px 0;
  height: 1px;
  width: 100%;

  background-color: gray;
}

html,
body {
  height: 100%;
}

body {
  min-width: 300px;

  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;

  overflow-x: hidden;
}

.btn {
  display: block;
  padding: 12px 24px;
  border: 1px solid gray;
  border-radius: 4px;
  text-transform: uppercase;
}

@media (max-width: 1260px) {
  .container {
    max-width: 1020px;
  }
}
@media (max-width: 1080px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 840px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 660px;
  }
}
@media (max-width: 720px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 540px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0 10px;
  }
}
