:root {
  --bgc: #363535;
  --body: #9e9e9e;
}

::-moz-selection {
  background-color: #0aee02;
}

::selection {
  background-color: #0aee02;
}

::-moz-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--body);
  overflow-x: hidden;
}

/* * */
.header {
  padding: 40px 0;
  background-color: var(--bgc);
}

.search__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search__input {
  padding: 10px 12px;
  min-width: 250px;
  border-radius: 10px;
}

.search__btn {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: #02d87f;
}

.elemets {
  padding: 40px 0;
}

.elements__items {
  display: flex;
  flex-wrap: wrap;
}

.elements__item {
  flex: 0 0 auto;
  width: 33.33333333%;
  padding: 10px;
}

.elements__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.footer {
  padding: 20px 0;
  text-align: center;
  background-color: var(--bgc);
}

.footer__inner {
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 960px) {
  .elements__item {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .elements__item {
    width: 100%;
  }
}