:root {
  --bgc: #363535;
  --body: #9e9e9e;
}

::-moz-selection {
  background-color: #0aee02;
}

::selection {
  background-color: #0aee02;
}

::-moz-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--body);
  overflow-x: hidden;
}

/* * */
.header {
  padding: 40px 0;
  background-color: var(--bgc);
}

.search__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search__input {
  padding: 10px 12px;
  min-width: 250px;
  border-radius: 10px;
}

.search__btn {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: #02d87f;
}

.elemets {
  padding: 40px 0;
}

.elements__items {
  display: flex;
  flex-wrap: wrap;
}

.elements__item {
  flex: 0 0 auto;
  width: 33.33333333%;
  padding: 10px;
}

.elements__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.footer {
  padding: 20px 0;
  text-align: center;
  background-color: var(--bgc);
}

.footer__inner {
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 960px) {
  .elements__item {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .elements__item {
    width: 100%;
  }
}

/* ! clock */

.clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  width: 100%;
  /* background-color: gray; */
}

.clock {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/dial1.jpg");
  background-size: cover;
  background-position: center;
  border: 4px solid darkgray;
  border-radius: 50%;
  box-shadow:
    0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock::before {
  content: "";
  position: absolute;
  z-index: 1000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.hour {
  position: absolute;
}
.hour .hours {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.hour .hours::before {
  content: "";
  position: absolute;
  z-index: 200;
  width: 8px;
  height: 80px;
  border-radius: 6px 6px 0 0;
  background-color: pink;
}

.minute {
  position: absolute;
}
.minute .minutes {
  position: relative;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.minute .minutes::before {
  content: "";
  position: absolute;
  z-index: 300;
  width: 4px;
  height: 90px;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
}

.second {
  position: absolute;
}
.second .seconds {
  position: relative;
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.second .seconds::before {
  content: "";
  position: absolute;
  z-index: 400;
  width: 2px;
  height: 150px;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
}
