.test {
  padding: 20px;
  border: 1px solid red;
  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }

  &__title {
    text-align: center;
  }

  &__items {
    display: flex;
    height: 350px;
    margin-bottom: 20px;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    border: 1px solid green;
  }
}

.test-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 0 100%;
  overflow-y: hidden;
  overflow-x: hidden;

  transition: all 0.75s linear;
  &__front,
  &__end {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;

    transition: all 0.5s linear;
  }
  &__front {
    border: 1px solid greenyellow;
  }

  &__end {
    border: 1px solid palevioletred;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    button {
      margin: 0 5px;
    }
  }
  &__answer,
  &__back {
    margin-top: auto;
    padding: 12px 48px;
  }
  &__answer {
    background-color: green;
  }
  &__back {
    background-color: blue;
  }

  [data-value='bad'] {
    background-color: red;
  }
  [data-value='good'] {
    background-color: green;
  }
}

.test-buttons {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border: 1px solid black;
  &__next,
  &__prev {
    width: 45%;
  }
}

@media (max-width: 540px) {
  .test-item {
    &__buttons {
      width: 100%;
      button {
        margin: 0 5px;
        padding: 12px 0;
        flex: 1 0 auto;
      }
    }
  }

  .test-buttons {
    flex-direction: column;
    align-items: center;

    &__next,
    &__prev {
      margin: 10px 0;
      width: 100%;
    }
  }
}
