.calc {
  width: 340px;
  height: 680px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  border: 1px solid black;
  background-color: #000730;
  color: #fff;
  &__logo {
    grid-column: span 10;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
  }
  &__display {
    grid-column: 2/10;
    grid-row: span 2;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

    background-color: #818181;
    color: #000;
    font-size: 3rem;
    font-weight: 600;
  }
}
.calc-control {
  grid-column: span 10;
  grid-row: 5 / 10;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  &__keys {
    grid-column: span 2;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    font-size: 1.75rem;
    border-radius: 25%;
    background-color: #000;
    background-clip: content-box;
    &[data-control='on/c'],
    &[data-control='off'] {
      background-color: #ec0202;
    }
    &::after {
      content: attr(data-control);
    }
  }
}
