.advantages {
  padding: 70px 0;

  background-color: #f6f6f6;

  &__title {
    @include title-mb();
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
    width: 25%;

    text-align: center;
    color: #0d0d0d;
  }

  &__item-img {
    margin-bottom: 38px;
  }

  &__item-title {
    margin-bottom: 26px;

    font-size: 18px;
    font-weight: 700;
  }

  &__item-text {
    font-size: 14px;
    font-weight: 300;
  }
}

@media (max-width: 900px) {
  .advantages {
    &__item {
      padding: 10px;
      width: 33.3333333%;
    }
  }
}
@media (max-width: 720px) {
  .advantages {
    &__items {
      justify-content: center;
    }
    &__item {
      width: 50%;
    }
    &__item-img {
      margin-bottom: 20px;
    }
    &__item-title {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 540px) {
  .advantages {
    &__item {
      width: 80%;
    }
  }
}
@media (max-width: 420px) {
  .advantages {
    &__item {
      width: 100%;
    }
  }
}
