.header {
  padding: 22px 0;
  min-height: 650px;

  background-color: gray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header-top {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 250px;
    height: 45px;
  }

  &__official {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    span {
      display: block;
      margin-top: 6px;

      font-size: 18px;
      font-weight: 700;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {
    display: block;
    margin-bottom: 4px;

    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
}
.logo {
  &__img {
    width: 100%;
  }
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &__title {
    margin-bottom: 12px;
  }

  &__subtitle {
    margin-bottom: 66px;

    font-size: 24px;

    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__icons {
    margin-bottom: 68px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__icon {
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    span {
      display: block;
      width: 120px;

      font-size: 14px;

      font-weight: 500;
      color: #ffffff;
    }
  }

  &__link {
    font-size: 16px;

    font-weight: 500;
    color: #ffffff;
    a {
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
.header-title {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 720px) {
  .header-top {
    justify-content: center;
    margin-bottom: 30px;
    &__logo {
      height: 85px;
    }
    & > * {
      padding: 20px;
    }
  }
  .header-bottom {
    text-align: center;
    align-items: center;
    &__icons {
      margin-bottom: 34px;
    }
    &__title {
      font-size: 36px;
    }
    &__subtitle {
      margin-bottom: 40px;

      font-size: 22px;
    }
  }
}

@media (max-width: 540px) {
  .header-top {
    margin-bottom: 20px;
    &__logo {
      height: 65px;
    }
    & > * {
      padding: 10px;
    }
  }
  .header-bottom {
    align-items: center;
    &__icons {
      justify-content: center;
    }
    &__icon {
      padding: 10px;
      flex: 0 0 auto;
      width: 50%;
      img {
        margin-bottom: 12px;
      }
      span {
        width: 100%;
      }
    }
    &__title {
      font-size: 28px;
    }
    &__subtitle {
      margin-bottom: 36px;

      font-size: 18px;
    }
  }
}

@media (max-width: 420px) {
}
