.slider {
  &__inner {
  }

  &__title {
  }

  &__items {
  }

  &__item {
    padding: 108px 100px;
    text-align: center;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }
  .f-carousel__dots {
    display: none;
  }

  .f-button {
    height: 80px;
    width: 80px;
    svg {
      fill: transparent;
      stroke: #c70101;
      transform: scale(3.5);
    }
  }
}

@media (max-width: 720px) {
  .slider {
    &__item {
      padding: 80px;
      text-align: center;
    }
    .f-button {
      height: 50px;
      width: 50px;
      svg {
        fill: transparent;
        stroke: #c70101;
        transform: scale(2);
      }
    }
  }
}
@media (max-width: 540px) {
  .slider {
    &__item {
      padding: 40px;
      text-align: center;
    }
    .f-button {
      display: none;
    }
    .f-carousel__dots {
      display: flex;
    }
  }
}
