.btn {
  display: inline-block;
  margin-top: auto;
  padding: 6px 12px;

  font-weight: 400;
  color: #050505;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  cursor: pointer;

  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 6px;

  transition: all 0.2s linear;

  user-select: none;
}

.change-font {
  position: absolute;
  top: 50%;
  right: 10px;

  font-size: 24px;
  font-weight: 400;

  transform: translateY(-50%);
}
