.clock-wrapper {
  --width: 100px;
  --height: 100px;

  position: absolute;
  top: 50%;
  right: 0;

  margin-top: calc(var(--height) / 2 * (-1));

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.clock {
  position: relative;
  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/dial1.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid darkgray;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock::before {
  content: '';
  position: absolute;
  z-index: 1000;
  width: calc(var(--width) / 100 * 4);
  height: calc(var(--height) / 100 * 4);
  border-radius: 50%;
  background-color: #fff;
}

.hour {
  position: absolute;
}
.hour .hours {
  position: relative;
  width: calc(var(--width) / 2);
  height: calc(var(--height) / 2);
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.hour .hours::before {
  content: '';
  position: absolute;
  z-index: 200;
  width: calc(var(--width) / 100 * 3);
  height: calc(var(--height) / 4);
  border-radius: 6px 6px 0 0;
  background-color: pink;
}

.minute {
  position: absolute;
}
.minute .minutes {
  position: relative;
  width: calc(var(--width) / 100 * 55);
  height: calc(var(--height) / 100 * 55);
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.minute .minutes::before {
  content: '';
  position: absolute;
  z-index: 300;
  width: calc(var(--width) / 100 * 2);
  height: calc(var(--height) / 4);
  border-radius: 6px 6px 0 0;
  background-color: #fff;
}

.second {
  position: absolute;
}
.second .seconds {
  position: relative;
  width: calc(var(--width) / 100 * 65);
  height: calc(var(--height) / 100 * 65);
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.second .seconds::before {
  content: '';
  position: absolute;
  z-index: 400;
  width: calc(var(--width) / 100 * 1);
  height: calc(var(--height) / 100 * 45);
  border-radius: 6px 6px 0 0;
  background-color: #fff;
}
