.header {
  padding: 10px 0;
  background-color: var(--bgc);
}

.header__inner {
  position: relative;

  padding: 20px 0;
}

.search {
  &__inner {
    display: grid;
    grid-template-areas: '🔴 🟢 🔵';
    justify-content: center;
    gap: 20px;
  }
  [data-name='🔴'] {
    grid-area: 🔴;
    max-width: 150px;
  }
  [data-name='🟢'] {
    grid-area: 🟢;
  }
  [data-name='🔵'] {
    grid-area: 🔵;
    max-width: 150px;
  }
  &__input {
    padding: 10px 12px;
    min-width: 100px;
    border-radius: 10px;
  }

  &__btn {
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    background-color: #02d87f;
  }
}

@media (max-width: 600px) {
  .search {
    &__inner {
      display: grid;
      grid-template-areas:
        '🟢 🟢'
        '🔴 🔵';
      gap: 20px;
    }
  }
}
