@import 'vars';
@import 'reset';
@import 'global';
@import 'blocks';

@import 'clock';

@import 'header';

.contents {
  height: 0;
  overflow: hidden;
  padding: 0;

  transition: all 0.5s linear;
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
  &__textarea {
    width: 100%;
    padding: 12px;

    caret-color: #000;
    background-color: #fff;
  }
  &__filter {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
  }
  &__radio {
    display: inline-block;
    padding: 8px;

    border: 1px solid black;
    border-radius: 4px;
  }

  &__label {
    margin-right: 12px;
  }

  &__input {
    position: relative;

    display: inline-block;

    margin-left: 12px;
    padding: 2px;

    appearance: none;

    width: 16px;
    height: 16px;

    border-radius: 4px;
    vertical-align: middle;
    outline: none !important;
    background-color: #fff;
    &:checked::before {
      content: '';

      position: absolute;
      top: 4px;
      left: 4px;

      width: 8px;
      height: 8px;
      border-radius: 2px;

      background-color: rgb(9, 129, 15);

      background-clip: content-box;
    }
  }
}

.elements {
  padding: 40px 0;
  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 10px;
  }
  &__item-from {
    background-color: yellow;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }
}

@media (max-width: 960px) {
  .elements {
    &__item {
      width: 50%;
    }
  }
}
@media (max-width: 540px) {
  .elements {
    &__item {
      width: 100%;
    }
  }
}

@import 'footer';
