@import 'vars';
@import 'reset';
@import 'global';
@import 'blocks';

@import 'header';

.contents {
  max-height: 0;
  overflow: hidden;
  padding: 0;

  transition: max-height 0.5s linear, padding 0.75s ease-out;
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
  &__textarea {
    width: 100%;
    padding: 12px;

    caret-color: #000;
    background-color: #fff;
  }
  &__filter {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    margin: 12px 0;
  }
  &__separators,
  &__anki {
    display: inline-block;
    padding: 8px;

    border: 1px solid black;
  }

  &__label {
    margin-right: 12px;
  }

  &__input {
    position: relative;

    display: inline-block;

    margin-left: 12px;
    padding: 2px;

    appearance: none;

    width: 16px;
    height: 16px;

    border-radius: 4px;
    vertical-align: middle;
    outline: none !important;
    background-color: #fff;
    &:checked::before {
      content: '';

      position: absolute;
      top: 4px;
      left: 4px;

      width: 8px;
      height: 8px;
      border-radius: 2px;

      background-color: rgb(9, 129, 15);

      background-clip: content-box;
    }
  }
}

.elemets {
  padding: 40px 0;
  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 10px;
  }
  &__item-from {
    background-color: yellow;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }
}

@media (max-width: 960px) {
  .elemets {
    &__item {
      width: 50%;
    }
  }
}
@media (max-width: 540px) {
  .elemets {
    &__item {
      width: 100%;
    }
  }
}

/* ! clock */

.clock-wrapper {
  --width: 100px;
  --height: 100px;

  position: absolute;
  top: 50%;
  right: 0;

  margin-top: calc(var(--height) / 2 * (-1));

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.clock {
  position: relative;
  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/dial1.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid darkgray;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock::before {
  content: '';
  position: absolute;
  z-index: 1000;
  width: calc(var(--width) / 100 * 4);
  height: calc(var(--height) / 100 * 4);
  border-radius: 50%;
  background-color: #fff;
}

.hour {
  position: absolute;
}
.hour .hours {
  position: relative;
  width: calc(var(--width) / 2);
  height: calc(var(--height) / 2);
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.hour .hours::before {
  content: '';
  position: absolute;
  z-index: 200;
  width: calc(var(--width) / 100 * 3);
  height: calc(var(--height) / 4);
  border-radius: 6px 6px 0 0;
  background-color: pink;
}

.minute {
  position: absolute;
}
.minute .minutes {
  position: relative;
  width: calc(var(--width) / 100 * 55);
  height: calc(var(--height) / 100 * 55);
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.minute .minutes::before {
  content: '';
  position: absolute;
  z-index: 300;
  width: calc(var(--width) / 100 * 2);
  height: calc(var(--height) / 4);
  border-radius: 6px 6px 0 0;
  background-color: #fff;
}

.second {
  position: absolute;
}
.second .seconds {
  position: relative;
  width: calc(var(--width) / 100 * 65);
  height: calc(var(--height) / 100 * 65);
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
}
.second .seconds::before {
  content: '';
  position: absolute;
  z-index: 400;
  width: calc(var(--width) / 100 * 1);
  height: calc(var(--height) / 100 * 45);
  border-radius: 6px 6px 0 0;
  background-color: #fff;
}

@import 'footer';
