# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# Top-most EditorConfig file
root = true

# Unix-style line endings
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Indentation: 2 spaces
[*.{json,yml,xml,html,css,scss,js,jsx,ts,tsx}]
indent_size = 2
indent_style = space

# Maximum line length: 80 characters
[*.{js,jsx,ts,tsx}]
max_line_length = 80

# Maximum line length: 120 characters
[*.{json,yml,xml,html,css,scss}]
max_line_length = 120

# Ignore editor-specific files
[.editorconfig,.git]
charset = utf-8
end_of_line = lf
