:root {
  --border-radius: 4px;
  --padding: 15px;
  --margin: 15px;
}

/* - global */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.container {
  max-width: 1200px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

a {
  display: inline-block;

  font: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-width: 300px;

  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;

  overflow-x: hidden;
}

/* ! global end */

/* - container media*/

@media (max-width: 1260px) {
  .container {
    max-width: 1020px;
  }
}
@media (max-width: 1080px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 840px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 660px;
  }
}
@media (max-width: 720px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 540px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0 10px;
  }
}

/* ! container end */

/* - grid */

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

/* ! grid end */

/* - btn */

.btn {
  display: inline-block;
  margin-top: auto;
  padding: 6px 12px;

  font-weight: 400;
  color: #050505;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  cursor: pointer;

  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 6px;

  transition: all 0.2s linear;

  user-select: none;
}

/* ! btn end */

/* - card */

.card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  min-width: 0;
  min-height: 100%;

  background-color: #fff;
  background-clip: border-box;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);

  overflow-wrap: break-word;
}

.card-img {
  width: 265px;
  max-width: 100%;
  height: auto;
  max-height: 265px;
  margin: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: var(--padding);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* ! card end */

/* - atomic */

.mb,
.mb1 {
  margin-bottom: var(--margin);
}
.mb0 {
  margin-bottom: 0;
}
.mb2 {
  margin-bottom: calc(var(--margin) * 2);
}
.mb3 {
  margin-bottom: calc(var(--margin) * 3);
}
.mb4 {
  margin-bottom: calc(var(--margin) * 4);
}
.mb5 {
  margin-bottom: calc(var(--margin) * 6);
}

.ml,
.ml1 {
  margin-left: var(--margin);
}
.ml0 {
  margin-left: 0;
}
.ml2 {
  margin-left: calc(var(--margin) * 2);
}
.ml3 {
  margin-left: calc(var(--margin) * 3);
}
.ml4 {
  margin-left: calc(var(--margin) * 4);
}
.ml5 {
  margin-left: calc(var(--margin) * 6);
}

.mr,
.mr1 {
  margin-right: var(--margin);
}
.mr0 {
  margin-right: 0;
}
.mr2 {
  margin-right: calc(var(--margin) * 2);
}
.mr3 {
  margin-right: calc(var(--margin) * 3);
}
.mr4 {
  margin-right: calc(var(--margin) * 4);
}
.mr5 {
  margin-right: calc(var(--margin) * 6);
}

.mt,
.mt1 {
  margin-top: var(--margin);
}
.mt0 {
  margin-top: 0;
}
.mt2 {
  margin-top: calc(var(--margin) * 2);
}
.mt3 {
  margin-top: calc(var(--margin) * 3);
}
.mt4 {
  margin-top: calc(var(--margin) * 4);
}
.mt5 {
  margin-top: calc(var(--margin) * 6);
}

.mrl,
.mrl1 {
  margin: 0 var(--margin);
}
.mrl0 {
  margin: 0 0;
}
.mrl2 {
  margin: 0 calc(var(--margin) * 2);
}
.mrl3 {
  margin: 0 calc(var(--margin) * 3);
}
.mrl4 {
  margin: 0 calc(var(--margin) * 4);
}
.mrl5 {
  margin: 0 calc(var(--margin) * 6);
}

.mtb,
.mtb1 {
  margin: var(--margin) 0;
}
.mtb0 {
  margin: 0;
}
.mtb2 {
  margin: calc(var(--margin) * 2) 0;
}
.mtb3 {
  margin: calc(var(--margin) * 3) 0;
}
.mtb4 {
  margin: calc(var(--margin) * 4) 0;
}
.mtb5 {
  margin: calc(var(--margin) * 6) 0;
}

.pb,
.pb1 {
  padding-bottom: var(--padding);
}
.pb0 {
  padding-bottom: 0;
}
.pb2 {
  padding-bottom: calc(var(--padding) * 2);
}
.pb3 {
  padding-bottom: calc(var(--padding) * 3);
}
.pb4 {
  padding-bottom: calc(var(--padding) * 4);
}
.pb5 {
  padding-bottom: calc(var(--padding) * 6);
}

.pl,
.pl1 {
  padding-left: var(--padding);
}
.pl0 {
  padding-left: 0;
}
.pl2 {
  padding-left: calc(var(--padding) * 2);
}
.pl3 {
  padding-left: calc(var(--padding) * 3);
}
.pl4 {
  padding-left: calc(var(--padding) * 4);
}
.pl5 {
  padding-left: calc(var(--padding) * 6);
}

.pr,
.pr1 {
  padding-right: var(--padding);
}
.pr0 {
  padding-right: 0;
}
.pr2 {
  padding-right: calc(var(--padding) * 2);
}
.pr3 {
  padding-right: calc(var(--padding) * 3);
}
.pr4 {
  padding-right: calc(var(--padding) * 4);
}
.pr5 {
  padding-right: calc(var(--padding) * 6);
}

.pt,
.pt1 {
  padding-top: var(--padding);
}
.pt0 {
  padding-top: 0;
}
.pt2 {
  padding-top: calc(var(--padding) * 2);
}
.pt3 {
  padding-top: calc(var(--padding) * 3);
}
.pt4 {
  padding-top: calc(var(--padding) * 4);
}
.pt5 {
  padding-top: calc(var(--padding) * 6);
}

.prl,
.prl1 {
  padding: 0 var(--padding);
}
.prl0 {
  padding: 0 0;
}
.prl2 {
  padding: 0 calc(var(--padding) * 2);
}
.prl3 {
  padding: 0 calc(var(--padding) * 3);
}
.prl4 {
  padding: 0 calc(var(--padding) * 4);
}
.prl5 {
  padding: 0 calc(var(--padding) * 6);
}

.ptb,
.ptb1 {
  padding: var(--padding) 0;
}
.ptb0 {
  padding: 0;
}
.ptb2 {
  padding: calc(var(--padding) * 2) 0;
}
.ptb3 {
  padding: calc(var(--padding) * 3) 0;
}
.ptb4 {
  padding: calc(var(--padding) * 4) 0;
}
.ptb5 {
  padding: calc(var(--padding) * 6) 0;
}

/* ! atomic end */

/* - additional */
ul[data-list-reset],
ol[data-list-reset],
ul.list-reset,
ol.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul[data-list-return],
ol[data-list-return],
ul.list-return,
ol.list-return {
  padding-left: 40px;
  margin: 16px 0;
}
ul[data-list-return],
ul.list-return {
  list-style: disc;
}

ol[data-list-return],
ol.list-return {
  list-style: decimal;
}

.no-resize {
  resize: none;
}

.none {
  display: none;
}

/* ! additional end */
