:root,
[data-seybor-theme='light'] {
  --border-radius: 4px;
  --padding: 15px;
  --margin: 15px;
  --opacity: 0.75;

  --regular-text: 16px;
  --lineheight: 1.2;
  --text: #1f1e1e;

  --basic-red: #ee3643;
  --medium-red: #ca2c37;
  --dark-red: #751117;

  --accent: #ffa500;
  --primary: #0aee02;

  --bgc: #8a8989;
  --body: #ffffff;
  --bgc-forms: #ffffff;
}

[data-seybor-theme='dark'] {
  --basic-red: #ea868f;
  --medium-red: #842029;
  --dark-red: #2c0b0e;

  --accent: #ff8c00;
  --primary: #02d87f;

  --bgc: #3d3d3d;
  --body: #4d4c4c;
  --bgc-forms: #757575;

  --text: #e4e4e4;
}

$bg: #fff;
$text: #000;
$accent: #ff0000;

@mixin title-mb($mb: 70px) {
  margin-bottom: $mb;
}
