@import 'vars';
@import 'reset';
// @import "fonts";
@import 'global';
@import 'blocks';

// @import 'header';
// @import 'footer';

.checklist {
  padding: 40px 20px;
  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__title {
    margin-bottom: 20px;
  }
  &__items {
    width: calc(66.6666666% - 20px);
  }

  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.checklist-content {
  flex: 0 0 auto;
  width: calc(33.33333% - 20px);
  &__text {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__first {
    margin-bottom: 40px;
  }

  &__first-text {
    margin-bottom: 10px;

    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }

  &__about {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__level {
    display: flex;
    align-items: stretch;
    gap: 10px;
  }

  &__img {
    width: 72px;
    height: 96px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    span {
      display: block;
      &:first-child {
        font-weight: 700;
      }
      &:last-child {
        text-transform: uppercase;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
    text-align: right;
  }

  &__bottom {
    margin-top: auto;
  }

  &__bottom-recomendation {
    margin-bottom: 20px;
    font-size: 10px;
    span {
      display: block;
    }
  }

  &__bottom-link {
    font-size: 12px;
  }

  &__bottom-text {
    font-size: 10px;
  }
}

.checklist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;

  &__todo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0 0 auto;
    width: 200px;
  }

  &__check {
    display: block;
    width: 20px;
    height: 20px;
    padding: 4px;

    border: 1px solid gray;

    cursor: pointer;
  }
  &__check--checked {
    background-color: green;
    background-clip: content-box;
  }

  &__desc {
    font-size: 11px;
    text-align: left;
    flex: 1 0 0;
  }

  &__note {
    flex: 0 0 auto;
    width: 150px;

    text-align: center;

    border-bottom: 1px solid black;
  }
}

@media (max-width: 900px) {
  .checklist {
    &__items {
      width: 100%;
    }
  }
  .checklist-content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .checklist {
    &__item {
      margin-bottom: 40px;
    }
  }
  .checklist-item {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 480px) {
  .checklist-content {
    &__level {
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
    &__right {
      flex: 0 0 auto;
      width: 100%;
      margin-left: 0;

      text-align: left;
    }
  }
}
