  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.wrapper {
  height: auto;
  border: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container {
  width: 80%;
  min-height: 300px;
  position: relative;
  margin: 0 auto;
}

.film {
  position: relative;
  width: 100%;
  border: 2px solid black;
  text-align: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all 1s linear;
}

.container:hover .film {
  transform: rotateY(180deg);
}

.face {
  position: relative; 
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 6px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;

  transform: rotateY(-180deg);
}

.front,
.back {
  font-size: clamp(18px, 5vw, 36px);
  color: #fff;
}

.front-ru {
  display: block;
  padding: 0.823em 6px;

  border: 1px solid black;
}

.back__content {
  padding: 0.25em 6px;

  border: 1px solid black;
}
.back__content span {
  display: block;
}

@media(max-width: 600px) {
  .container {
    width: 100%;
  }
}