.left-panel {
  @include scrollbar(rgb(117, 117, 117), darken);

  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 100vh;
  width: 300px;
  padding: 12px 10px 60px;

  background-color: rgb(75, 77, 75);
  color: #fff;

  overflow-y: auto;
  & p {
    padding: 6px;
  }
  &__search {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    border: 3px solid rgb(54, 54, 54);
    border-radius: 4px;
    & input {
      padding: 6px 12px;
      width: 100%;
      outline: none;
    }
    & button {
      display: flex;
      align-items: center;
    }
  }
  &__item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
    & p.active {
      text-decoration: underline;
      color: #000;
    }
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 20px;
      height: 20px;

      background-color: rgb(0, 204, 255);
      border-radius: 50%;

      font-size: 12px;
    }
  }
}
.hints {
  position: relative;
  z-index: 10;

  padding: 12px;
  margin-left: 300px;
  &__title {
    text-align: center;
    & span {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      margin-left: 6px;
      width: 24px;
      height: 24px;

      background-color: greenyellow;
      border-radius: 50%;
      color: #000000;

      vertical-align: middle;

      font-size: 12px;
    }
  }
  &__item-title {
    font-weight: 700;
  }
  &__item-content {
    padding: 6px;
    padding-left: 12px;
  }
  &__welcome {
    font-size: 32px;
    font-weight: 700;
    padding: 30px 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .left-panel {
    position: static;

    height: auto;
    width: 100%;
    padding: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }
  .hints {
    margin-left: 0;
  }
}

// @media (max-width: 576px) {
//   .left-panel {
//     position: fixed;
//     z-index: 300;
//     left: -180px;

//     height: 100vh;
//     width: 230px;
//     padding: 12px;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     gap: 12px;
//     &--active {
//       // pointer-events: none;
//     }
//   }

//   .hints {
//     margin-left: 50px;
//   }
// }

@media (max-width: 420px) {
  .hints {
    &__welcome {
      font-size: 24px;
    }
  }
}
