.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::selection {
  background-color: var(--accent);
  color: #fff;
}
::placeholder {
  opacity: var(--opacity);
  color: #666;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid,
textarea:required:valid {
  border-color: green;
}

.no-resize {
  resize: none;
}

.accent {
  color: var(--accent);
  font-weight: bold;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 50px;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;

  font-family: 'roboto-st';
  font-weight: 400;
  font-style: normal;
  font-size: var(--regular-text);
  line-height: var(--lineheight);

  background-color: #4d4c4c;
  color: #e4e4e4;

  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0 10px;
  }
}
