@import 'vars';
@import 'reset';
@import 'fonts';
@import 'global';

@import 'blocks';

@import 'header';

.contents {
  padding: 12px 0;
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
  &__textarea {
    width: 100%;
    padding: 12px;

    caret-color: #000;
    background-color: #fff;
  }
  &__filter {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    margin: 12px 0;
  }
  &__separators,
  &__anki {
    display: inline-block;
    padding: 8px;

    border: 1px solid black;
  }

  &__label {
    margin-right: 12px;
  }

  &__input {
    position: relative;

    display: inline-block;

    margin-left: 12px;
    padding: 2px;

    appearance: none;

    width: 16px;
    height: 16px;

    border-radius: 4px;
    vertical-align: middle;
    outline: none !important;
    background-color: #fff;
    &:checked::before {
      content: '';

      position: absolute;
      top: 4px;
      left: 4px;

      width: 8px;
      height: 8px;
      border-radius: 2px;

      background-color: rgb(9, 129, 15);

      background-clip: content-box;
    }
  }
}

@import 'footer';
