@font-face {
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2');
  font-family: 'roboto-st';
  font-weight: 700;
  font-style: italic;
}
